* {
    font-family: "inte", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background-color: #eaeaea;
    color: white;
}

.navbar {
    background-color: brown;
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-btn {
    border: none;
    background: white;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#content {
    padding-inline: 1rem;
}

.container {
    max-width: 700px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    margin-top: 2.5rem;
    border-radius: 15px;
    gap: 20px;
    color: black;
}

.container h1 {
    color: brown;
}

.text-content {
    font-size: 15px;
    line-height: 1.5;
}

.special-menu {
    font-weight: bold;
}

.list-menu { 
    list-style-position: inside;
    white-space: pre-line;
    line-height: 1.5;
}

li {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-block: 5px;
  padding-inline: 8px;
  border-bottom: 1px dashed #ccc; 
}

.menu-price {
  font-weight: bold;
  color: #2c3e50;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.8px;
}